{% if view_mode == 'ratio-1x1' %}
  <article class="node node-news node-news-{{ view_mode }} ratio ratio-1x1 rounded overflow-hidden">
    <img class="node--bgImg" src='./assets/news/03.jpg' alt="news 02">

    <div class="node--content bg-gradient text-white">
      <div class="badge badge-op-ed mb-3">• OP-ED</div>
      <h2>
        <span class="effect-underline">
          Far from Being our Enemies, Bats Need Protection now more than ever!
        </span>
      </h2>
    </div>
  </article>
{% elseif view_mode == 'ratio-1x1-small' %}
  <article class="node node-news node-news-{{ view_mode }} ratio ratio-1x1 rounded overflow-hidden">
    <img class="node--bgImg" src='./assets/news/03.jpg' alt="news 02">

    <div class="node--content bg-gradient text-white">
      <div class="badge badge-op-ed mb-3">• OP-ED</div>
      <h4>
        <span class="effect-underline">
          Far from Being our Enemies, Bats Need Protection now more than ever!
        </span>
      </h4>
    </div>
  </article>
{% else %}

{% endif %}

