{% if view_mode == 'ratio-1x1' %}
  <article class="node node-news node-news-ratio-1x1 ratio ratio-1x1 rounded overflow-hidden">
    <img class="node--bgImg" src='../../assets/news/01.jpg' alt="news 01">

    <div class="node--content bg-gradient text-white">
      <div class="badge badge-news mb-3">• News</div>
      <h2>
        <span class="effect-underline">
          Giraffes Receive Much Needed Attention at CMS Expert Meeting
        </span>
      </h2>
    </div>
  </article>
{% else %}
  test
{% endif %}

