{% extends "./components/layout/layout.twig" %}
{% block pTitle %}CMS Theme{% endblock %}

{% block main %}
  <div class="region region-banner-top">
    <div class="block block-banner-top d-flex justify-content-center overflow-hidden mw-100vw">
      <img src="./assets/banner-top.png" alt="">
    </div>
  </div>

  <div class="section">
    <div class="block block-front-grid">
      <div class="container">
        <div class="row g-4">
          <div class="col-md-6">
            <div class="row gy-4">
              <div class="col-12">
                {% include "/data/news_01.twig" with {'view_mode': 'ratio-1x1'} %}
              </div>
              <div class="col-12">
                {% include "/data/grid-block/publication.twig" %}
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row gy-4">
              <div class="col-12">
                {% include "/data/grid-block/pin.twig" %}
              </div>

              <div class="col-12">
                {% include "/data/grid-block/meeting.twig" %}
              </div>

              <div class="col-xl-6">
                {% include "/data/news_02.twig" with {'view_mode': 'ratio-1x1-small'} %}
              </div>

              <div class="col-xl-6">
                {% include "/data/news_03.twig" with {'view_mode': 'ratio-1x1-small'} %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section bg-gray-200">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          Quick access
        </div>

        <div class="col-lg-6">
          Meetings
        </div>

        <div class="col-lg-3">
          In Focus
          Notifications
          Latest Parties
        </div>
      </div>
    </div>
  </div>
{% endblock %}
