{% extends "./components/layout/layout.twig" %}
{% block pTitle %}JoAM Theme{% endblock %}

{% block main %}
  <div class="region region-banner-top">
    <div class="block block-banner-top d-flex justify-content-center overflow-hidden mw-100vw">
      <img src="/assets/banner-top.png" alt="">
    </div>
  </div>

  <div class="block block-front-grid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="ratio ratio-1x1 bg-primary">
            1x1

            540x540 100%
            540x157 30% 29.074%

            540x260 48.148
            540x128 23.703
            540x258 47.777

            4.4444
          </div>
          <div class="ratio ratio-21x9 bg-success">
            21x9
          </div>
        </div>

        <div class="col-md-6">
          <div class="ratio ratio-1x1 bg-primary">
            1x1
          </div>
          <div class="ratio ratio-21x9 bg-success">
            21x9
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
