.paragraph-pin {
  .paragraph--bgImg {
    transition: transform .3s linear;
  }

  &:hover {
    .paragraph--bgImg {
      transform: scale(1.1);
    }

    .effect-underline {
      background-size: 0 2px, 100% 2px;
    }
  }

  & > .paragraph--content {
    @include padding(2rem);
  }
}
