
.btn-transparent {
  color: $gray-700;
  background-color: transparent;
  border: none;
  font-weight: $font-weight-light;
  line-height: 1.3;

  &:hover,
  &.active {
    color: $primary;
    background-color: rgba(var(--#{$variable-prefix}primary-rgb), 0.1);
  }
}

.bg-primary {
  .btn-transparent {
    color: $white;

    &:hover,
    &.active {
      color: $white;
      background-color: rgba(var(--#{$variable-prefix}white-rgb), 0.1);
    }
  }
}
