.badge {
  text-transform: uppercase;
}

.badge-news {
  background-color: #D6293E;
}

.badge-press-release {
  background-color: #F7C32E;
}

.badge-op-ed {
  background-color: #0C7687;
}

.badge-meeting {
  background-color: #FF4001;
}

.badge-publication {
  background-color: #B800FF;
}
