<div class="region region-branding py-3">
  <div class="container d-flex align-items-center">
    <img src="dist/assets/logo.svg" class="site-logo me-3" alt="Logo">
    <h3 class="site-name mb-0">Convention on the Conservation of Migratory Species of Wild Animals</h3>
  </div>
</div>
