<div class="region region-header-top bg-primary text-white py-2">
  <div class="container">
    <div class="row justify-content-between">
      <div class="block block-getInvolved col-auto">
        <div class="btn btn-sm btn-transparent">Get Involved!</div>
      </div>

      <div class="block block-iAmA d-flex align-items-center col-auto">
        <div class="block-title pe-2">I am a
          <svg xmlns="http://www.w3.org/2000/svg" width="8.001" height="7.001" viewBox="0 0 8.001 7.001">
            <path d="M4,8a.5.5,0,0,1,.5-.5h5.793L8.146,5.354a.5.5,0,1,1,.708-.708l3,3a.5.5,0,0,1,0,.708l-3,3a.5.5,0,0,1-.708-.708L10.293,8.5H4.5A.5.5,0,0,1,4,8Z" transform="translate(-4 -4.499)" fill="#fff" fill-rule="evenodd"/>
          </svg>
        </div>
        <div class="btn btn-sm btn-transparent">Focal Point</div>
        <div class="btn btn-sm btn-transparent">Journalist</div>
        <div class="btn btn-sm btn-transparent">Non-Party</div>
      </div>

      <div class="block block-language col-auto">
        <div class="d-flex">
          <div class="btn btn-sm btn-transparent active">EN</div>
          <div class="btn btn-sm btn-transparent">FR</div>
          <div class="btn btn-sm btn-transparent">ES</div>
        </div>
      </div>
    </div>
  </div>
</div>
