<div class="region region-header bg-white">
  <nav class="navbar navbar-expand-lg navbar-light border-top border-bottom">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">The conventions</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Implementation</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Species</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Topics</a> 
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
              <svg xmlns="http://www.w3.org/2000/svg" width="7.428" height="4" viewBox="0 0 7.428 4">
                <path d="M1.583,4.583a.286.286,0,0,1,.4,0L5.213,7.809,8.438,4.583a.286.286,0,0,1,.4.4L5.415,8.415a.286.286,0,0,1-.4,0L1.583,4.987a.286.286,0,0,1,0-.4Z" transform="translate(-1.499 -4.499)" fill="currentColor" fill-rule="evenodd"/>
              </svg>
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#searchBar" aria-controls="searchBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-grow-0" id="searchBar">
        <button class="btn btn-sm btn-transparent" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16.001" height="15.998" viewBox="0 0 16.001 15.998" fill="currentColor">
            <path d="M11.742,10.344a6.5,6.5,0,1,0-1.4,1.4h0a1.17,1.17,0,0,0,.1.115l3.85,3.85a1,1,0,0,0,1.415-1.414l-3.85-3.85a1.007,1.007,0,0,0-.115-.1ZM12,6.5A5.5,5.5,0,1,1,6.5,1,5.5,5.5,0,0,1,12,6.5Z" transform="translate(0.001 -0.002)"/>
          </svg>
        </button>
      </div>
    </div>
  </nav>
</div>
