{% extends "../../default/html.twig" %}

{% block body %}
<div class="page-layout d-flex flex-column">
  {% include "../regions/header_top.twig" %}

  <header id="header" class="pL-header w-100 sticky-top">
    {% block header %}
      {% include "../regions/branding.twig" %}
      {% include "../regions/header.twig" %}
    {% endblock %}
  </header>

  <div class="d-flex flex-grow-1">
    <main class="pL-main flex-grow-1">
      {% block main %}{% endblock %}
    </main>
  </div>
</div>
{% endblock %}
