<article class="node node-news node-news-ratio-1x1 rounded overflow-hidden">
  <div class="node--content bg-gradient text-white">
    <div class="badge badge-meeting mb-3">• Meeting</div>
    <h4>
      <span class="effect-underline">
        52nd Meeting o the standing. Committee
      </span>
    </h4>
  </div>
</article>
