<article class="paragraph paragraph-pin ratio ratio-16x9 rounded overflow-hidden">
  <img class="img-fluid paragraph--bgImg" src='./assets/block-grid/pin.jpg' alt="pin">

  <div class="paragraph--content text-white d-flex flex-column w-75">
    <div class="h4 mb-auto">What are migratory Species & Why their conservation need international cooperations</div>

    <div class="field-link">
      <a href="#" class="text-white effect-underline">Learn more</a>
    </div>
  </div>
</article>
