<article class="node node-news node-news-ratio-1x1 ratio ratio-21x9 rounded overflow-hidden">
  <img class="node--bgImg" src='../../assets/news/01.jpg' alt="news 01">

  <div class="node--content bg-gradient text-white">
    <div class="badge badge-publication mb-3">• Publication</div>
    <h4>
      <span class="effect-underline">
        Report on the Impacts of plastic Pollution on Migratory Species in the Asia-Pacific Region 
      </span>
    </h4>
  </div>
</article>
